body {
    margin: 0;
    background-color: aquamarine;
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'green red'
    'yellow blue';/*O grid template areas serve para colocar o yellow do lado do blue
    eo green do lado do red*/ 
    grid-gap: 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: blue;
    background-color: rgb(2, 2, 165);
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: red;
    background-color: rgb(165, 2, 2);
    border-top-right-radius: 100%; 
}

.yellow {
    grid-area: yellow;
    background-color: rgb(167, 167, 0);
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: green;
    background-color: rgb(0, 139, 0);
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.4;
}